* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
}

p,
ul,
li,
h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
    text-align: center;
}

span {
    cursor: pointer;
}


.Presentation {
    text-align: center;
}

.Titolo {
    padding-top: 50px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 1000;
    /* per stare sopra altri elementi */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Name-hotel {
    margin-top: 100px;
    margin-bottom: 120px;
    padding-bottom: 120px;
}

.Cards-container {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.Price-card {
    width: 250px;
    height: 180px;
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(99, 200, 227, 0.768);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    ;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

span {
    font-size: 1.5em;
    font-weight: bold;
}

a button {
    height: 25px;
    width: 200px;
    width: 100%;
    background-color: #5577f2;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    margin-top: 24px;
}
a button:hover {
    filter: brightness(75%);
}

.Achivments {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 13px;
}

.Achivments h2 {
    line-height: normal;
    height: 32px;
}


.Assist-numbers {
    line-height: 20px;
    margin-bottom: 40px;
}

.X-logo {
    width: 25px;
    border-radius: 100px;
    margin-left: 10px;
    cursor: pointer;
}

.FB-logo {
    width: 25px;
    margin-left: 17px;
    margin-right: 17px;
    cursor: pointer;
}

.IG-logo {
    width: 25px;
    cursor: pointer;
}